
.top_menu{
    list-style: none;
    margin: 0;
    padding-left: 0
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.main_table{
    border: 1px solid black;
    border-collapse: collapse;
}

.main_th{
    border: 1px solid black;
    padding: 0px 7px;
    vertical-align: top;
}

.card_header{
    font: 12pt times;
    text-align: left;
}

.card_block{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    vertical-align: top;
    margin: 3px;
    margin-top: 3px
}

.hidden{
    visibility: collapse;
}

.cur_page{
    border: 1px solid black;
    padding: 3px;
    padding-top: 1px;
    padding-bottom: 1px
}

.conf{
    border: 3px solid red
}


.container{overflow:hidden}
.box{white-space:nowrap}
.box div{display:inline-block;}