
.top_menu{
    list-style: none;
    margin: 0;
    padding-left: 0
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

TABLE {
    border-collapse: collapse;
    border: 2px solid black;
}

.main_table{
    border: 2px solid black;
}

.card{
    border: 2px solid #377DBF;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #377DBF;
}

TH{
    font-size: 10pt;
}

.main_th{
    vertical-align: top;
    background: white;
    border: 2px solid black;
}

.main_header{
    font: 15pt sans-serif;
    background: #C0C0C0;
    border: 2px solid black;
}

.card_header{
    font: 12pt times;
    text-align: left;
    background: white;
    border-right: 1px solid black;
}

.card_record{
    padding: 3px;
    font-size: 16px;
    text-align: left;
}

.card{
}

.actions{
    font-size: 12pt
}

.conf{
    border: 4px solid blue;
    margin: 5px
}


.container{overflow:hidden}
.box{white-space:nowrap}
.box div{display:inline-block;}