
.top_menu{
    list-style: none;
    margin: 0;
    padding-left: 0
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

th,tr,td {
text-align: center;
}

.container{overflow:hidden}
.box{white-space:nowrap}
.box div{display:inline-block;}