<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 </head>
 <body>
    <form>
        <input type="hidden" name="col" value="{{ f_olap_col }}">
        <input type="hidden" name="row" value="{{ f_olap_row }}">
        <input type="hidden" name="col_value" value="{{ f_olap_col_val }}">
        <input type="hidden" name="row_value" value="{{ f_olap_row_val }}">
        <table>
            <tr>
            {% for title in titles %}
                <th>{{ title }}</th>
            {% endfor %}
            </tr>
            <tr>
            {% for option in options %}
                <th>
                    {% if options[option] == 'none' %}
                        <input name="p" type="text">
                    {% else %}
                    <select style="width: 130px" name="p">
                        <option selected></option>
                        {% for item in options[option]['values'] %}
                            <option {% if titles[options[option]['index']] == f_olap_row and item[0] == f_olap_row_val%} selected {%endif%}
                                    {% if titles[options[option]['index']] == f_olap_col and item[0] == f_olap_col_val%} selected {%endif%}>
                                {{ item[0] }}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                </th>
            {% endfor %}
            </tr>
        </table>
        <input type="submit" value="Добавить и продолжить">
        <input type="submit" value="Закрыть" onclick="window.close()">
    </form>
 </body>
</html>