<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 </head>
 <body>
    <form>
        <table>
            <tr>
            {% for title in titles %}
                <th>{{ title }}</th>
            {% endfor %}
            </tr>
            <tr>
            {% for option in options %}
                <th>
                    {% if options[option] == 'none' %}
                        <input name="p" type="text">
                    {% else %}
                    <select style="width: 130px" name="p">
                        {% for item in options[option] %}
                            <option>{{ item[0] }}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                </th>
            {% endfor %}
            </tr>
        </table>
        <input type="submit" value="Добавить и продолжить">
        <input type="submit" value="Закрыть" onclick="window.close()">
    </form>
 </body>
</html>