    <!DOCTYPE html>
<html lang="en">
<head>
	<h1>Simple WEB DatabaseManagementSystem</h1>
</head>
<body>
    <menu>
    </menu>
    <form name="comboBox">
		<select name="tables" onchange="this.form.submit()">
            {% with s = selected_table_index %}
                {% for table in tables %}
                    <option
                            {% if s is defined and loop.index0 == s %} selected {% endif %}
                            value="{{ loop.index0 }}"
                    >{{ table }}</option>
                {% endfor %}
            {% endwith %}
		</select>
        <form name="comboBox2">
            <select name="search_col">
                {% for table in search_tables %}
                    <option
                        {% if selected_col_name_index is defined and loop.index0 == selected_col_name_index %} selected {% endif %}
                        value="{{ loop.index0 }}"
                    >{{ table }}</option>
                {% endfor %}
            </select>
            <input type="text" name="sub_search">
            <input type="submit" value="Показать">
            {% if search_str is defined and search_str != ''%}
                <h3>Поиск: '{{ search_str }}'   в столбце: {{ selected_col_name }}</h3>
            {% endif %}
        </form>

	</form>
     {% if selected_table_index is defined %}
        <table border="3" width="30%">
            <tr>
                {% for header in headers %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
            {% for record in records %}
                <tr>
                    {% for col in record %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</html>