<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <link rel="stylesheet" href="../static/css/bulma.css">
    <script>
        function delete_param(div_id, p_count_id){
            p_count_id.value = p_count_id.value - 1;
            div_id.remove();
            document.getElementById('main_form').submit();
        }

        function change_sort_type(h_sort_type_id, h_sort_by_col_id, col_index, main_form_id){
            if (h_sort_by_col_id.value == col_index){
                h_sort_type.value == "desc" ? h_sort_type.value = "inc" : h_sort_type.value = "desc";
            }
            else{
                h_sort_by_col_id.value = col_index;
                h_sort_type.value = "desc";
            }
            main_form_id.submit()
        }
    </script>
</head>
<body>
    <nav class="level">
        <div class="level-left">
            <p class="level-item"><a href="/">Главная</a></p>
            {% if login != '' %}
                <p class="level-item"><a class="button" href="/userInfo">Профиль</a></p>
                <p class="level-item"><a class="button is-outlined" href="/logout">Выход</a></p>
            {% endif %}
        </div>
        <div class="level-right">
            {% if login == '' %}
                <p class="level-item"><a class="button is-success" href="/signIn">Вход</a></p>
                <p class="level-item"><a class="button is-warning" href="/registration">Регистрация</a></p>
            {% endif %}
        </div>
    </nav>
    <h3>
        <a href="/schedule/" class="button">Аналитика    </a>
        <a href="/conflicts/" class="button">Конфликты   </a>
        <a href="/0" class="button">Таблицы   </a>
        <br>
    </h3>
    <menu class="top_menu">
        {% for table in tables %}
            <li><a href="/{{ loop.index0 }}">{{ table.title }}</a></li>
        {% endfor %}
    </menu>
    <form id="main_form" name="where_params">
        <input type="hidden" id="p_count" name="params_count" value="{{search_data.params_count}}">
        <input type="hidden" id="h_sort_by_col" name="sort_by_col" value="{{sort_by_col}}">
        <input type="hidden" name="current_page" value="{{paging.current_page}}">
        <input type="hidden" id='h_sort_type' name="sort_type" value="{{sort_type}}">
        <div id="params_fields">
            {% for i in range(search_data.params_count)%}
                <div id="p{{loop.index0}}" style="padding: 3px">
                    <select name="search_col">
                        {% for search_col_name in search_data.search_col_names %}
                            <option {% if search_data.selected_col_name_indexes[i] is defined and
                                    search_data.selected_col_name_indexes[i]|int == loop.index0 %}
                                        selected
                                    {% endif %}
                                    value="{{ loop.index0 }}"
                            >{{ search_col_name }}</option>
                        {% endfor %}
                    </select>
                    <select name="operator">
                        {% for operator in operators %}
                            <option {% if search_data.operators[i] == operator %} selected {% endif %}>{{ operator }}</option>
                        {% endfor %}
                    </select>
                    <input name="search_param" type="text" size="10" value="{{ search_data.search_params[i] }}" />
                    <button type="submit" onclick="delete_param(p{{loop.index0}}, p_count);">➖</button>
                </div>
            {% endfor %}
        </div>
        <div style="padding: 3px">
            {% if search_data.params_count >= 1%}
            <input type="submit" value="➕" onclick="params_count.value = {{search_data.params_count + 1}}">
            <select name="lo">
                {% for operator in logic_operators %}
                    <option {% if logic_operator == operator %} selected {% endif %}>{{ operator }}</option>
                {% endfor %}
            </select>
            <br>
            {% else %}
                <input type="submit" value="➕" onclick="params_count.value = {{search_data.params_count + 1}}">
            {%endif%}
        </div>
        <div>
            <input type="submit" value="Показать">
            <input type="number" name="recs_on_page" min="1" max="10000" value={{ paging.recs_on_page }}>
            Страницы:
            {% for page in range(paging.pages_count) %}
                <a {% if page+1 == paging.current_page %} class="cur_page" {% endif %}
                    href = {{ change_arg("current_page",  page + 1) }}>{{ page + 1 }}</a>
            {% endfor %}<br>
            <input type="button" onclick="window.open('./add')" value="Добавить запись" >
            <input type="button" onclick="window.open('/schedule')" value="Просмотреть расписание" >
        </div>
        <div style=" padding: 10px;">
             {% if selected_table_index is defined %}
                <table class="table is-bordered is-striped is-narrow is-hoverable" border="3" >
                    <thead>
                        {% for header in headers %}
                            <th >
                                <div onclick="change_sort_type(h_sort_type, h_sort_by_col, {{loop.index0}}, main_form)">
                                    <a style="color: #0000A2; cursor: pointer">
                                        <div>
                                            <div class="button centered">
                                                <div>{{ header }}</div>
                                                {% if sort_by_col|int == loop.index0 %}
                                                    <div>{% if sort_type == "desc" %} ↓ {% else  %} ↑ {% endif %}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </th>
                        {% endfor %}
                        <th></th>
                    </thead>
                    {% for record in records %}
                        <tr>
                            {% for col in record %}
                                <td>{% if col == None %} {% else %} {{ col }} {% endif%} </td>
                            {% endfor %}
                            <td><a target="_blank" href = "./modify/{{ record[0] }}">Редактировать</a><br>
                            <button type="submit" name="delid" value="{{record[0]}}">Удалить</button></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </form>
</body>