<!DOCTYPE html>
<html lang="en">
<head>
     <link href="static/style.css">
</head>
<body>
    <div class="left_col" style="float: left; padding: 10px;">
        <menu style="list-style: none; margin: 0; padding-left: 0">
            {% with s = selected_table_index %}
                {% for table in tables %}
                    <li><a href="/{{ loop.index0 }}">{{ table.title }}</a></li>
                {% endfor %}
            {% endwith %}
        </menu>
        <form name="where_params">
            <input type="hidden" name="params_count" value="{{search_data.params_count}}">
            <div id="params_fields">
                {% for i in range(search_data.params_count)%}
                    <div id="params_field" style="padding: 3px">
                        <select name="search_col">
                            {% for search_col_name in search_data.search_col_names %}
                                <option {% if search_data.selected_col_name_indexes[i] is defined and
                                        search_data.selected_col_name_indexes[i]|int == loop.index0 %}
                                            selected
                                        {% endif %}
                                        value="{{ loop.index0 }}"
                                >{{ search_col_name }}</option>
                            {% endfor %}
                        </select>
                        <select name="operator">
                            {% for operator in operators %}
                                <option {% if search_data.operators[i] == operator %} selected {% endif %}>{{ operator }}</option>
                            {% endfor %}
                        </select>
                        <input name="search_param" type="text" value="{{ search_data.search_params[i] }}" />
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Добавить" onclick="params_count.value = {{search_data.params_count + 1}}">
            <input type="submit" value="Удалить"
                onclick="{% if search_data.params_count > 1%}params_count.value = {{search_data.params_count - 1}}{%endif%}">
            <input type="submit" value="Показать">
        </form>
    </div>
    <div class="right_col" style="float: left; padding: 10px;">
         {% if selected_table_index is defined %}
            <table border="3" width="30%">
                <tr>
                    {% for header in headers %}
                        <th>
                            {{ header }}
                        </th>
                    {% endfor %}
                </tr>
                {% for record in records %}
                    <tr>
                        {% for col in record %}
                            <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>