<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        $(document).ready(function(){
            $('.btn_show').click(function() {
                var $cards = $(this).parent().children('.card_block');
                console.log('ddd')
                if ($(this).val() == 'Свернуть'){
                    $cards.slice(1).css('visibility', 'collapse');
                    $(this).val('Развернуть');
                }
                else{
                    $cards.css('visibility', 'visible');
                    $(this).val('Свернуть');
                }
            });
        });

        function delete_param(div_id, p_count_id){
            p_count_id.value = p_count_id.value - 1;
            div_id.remove();
            document.getElementById('main_form').submit();
        }

        function a(form, id1, id2, def_1, def_2){
            var flag = document.getElementById('p_ch_flag');
            if ((id1.value != def_1) || (id2.value != def_2)){
                flag.value = 'true';
            }
            else{
                flag.value = 'false'
            }
            form.submit()
        }

        function change_header_view(class_name, btn, header_view){
            var elements = document.getElementsByClassName(class_name);
            if (header_view.value == 'true'){
                for (var i = 0; i < elements.length; i++){
                    elements[i].setAttribute('hidden', 0);
                }
                btn.value = 'Показать заголовки';
                header_view.value = 'false';
            }
            else{
                for (var i = 0; i < elements.length; i++){
                    elements[i].removeAttribute('hidden');
                }
                btn.value = 'Скрыть заголовки';
                header_view.value = 'true'
            }
        }

        function allowDrop(ev) {
             ev.preventDefault();
        }

        function drag(ev) {
             ev.dataTransfer.setData("id", ev.target.id);
        }

        function drop(ev) {
             ev.preventDefault();
             var data = ev.dataTransfer.getData("id");
             href = "/schedule/dad/" + data + "/";
             var params = "?x_proj=" + document.getElementById('x_proj_id').value;
             params += "&y_proj=" + document.getElementById('y_proj_id').value;
             if (ev.target.getAttribute('cval') == "None"){
                params += "&new_y_proj=" + "null";
             }
             else{
                params += "&new_y_proj=" + ev.target.getAttribute('cval');
             }

             if (ev.target.getAttribute('rval') == "None"){
                params += "&new_x_proj=" + "null";
             }
             else{
                params += "&new_x_proj=" + ev.target.getAttribute('rval');
             }


             href += params;
             $.ajax({
                url: href,
                success: function (){location.reload(true);}
             });
        }

    </script>
</head>
<body>
    <nav>
        <div>

            <div style="display: inline-block;">
                <a href="/">Главная</a></p>
            </div>

            <div style="display: inline-block; float: right">
            {% if login != '' %}
                <a class="button" href="/userInfo">Профиль</a>
                <a class="button is-outlined" href="/logout">Выход</a>
            {% endif %}
            </div>
            <div style="display: inline-block; float: right">
                {% if login == '' %}
                    <a href="/signIn">Вход</a>
                    <a href="/registration">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </nav>
<form id="main_form">
    {% if login != "" %}
        <h3  style="padding-left: 20px">
            <a href="/schedule/" class="std_button">Аналитика</a>
            {% if credentials == 1 %}
                <a href="/conflicts/" class="std_button">Конфликты</a>
            {% endif %}
            <a href="/0" class="std_button">Таблицы</a>
            <br>
        </h3>
    {% endif %}
    <input type="hidden" name="p_change_flag" id="p_ch_flag" value="{{ p_change_flag }}">
    <input type="hidden" name="header_view" id="header_view_id" value="{{ header_view }}">
    <input type="hidden" id="x_proj_id" value="{{sel_x}}">
    <input type="hidden" id="y_proj_id" value="{{sel_y}}">
    <select name="x" id="sel_x_id">
        {% for item in projections %}
            <option  value="{{ item }}" {% if item == sel_x %} selected {% endif %}> {{ projections[item] }} </option>
        {% endfor %}
    </select>

    <select name="y" id="sel_y_id">
        {% for item in projections %}
            <option  value="{{ item }}" {% if item == sel_y %} selected {% endif %}> {{ projections[item] }} </option>
        {% endfor %}
    </select>
    <button type="button" onclick="a(main_form, sel_x_id, sel_y_id, '{{sel_x}}', '{{sel_y}}')">Показать</button><br>
    <div id="params_fields">
        <input type="hidden" id="p_count" name="params_count" value="{{search_data.params_count}}">
        {% for i in range(search_data.params_count)%}
                <div id="p{{loop.index0}}" style="padding: 3px">
                    <select name="search_col">
                        {% for search_col_name in search_data.search_col_names %}
                            <option {% if search_data.selected_col_name_indexes[i] is defined and
                                    search_data.selected_col_name_indexes[i]|int == loop.index %}
                                        selected
                                    {% endif %}
                                    value="{{ loop.index }}"
                            >{{ search_col_name }}</option>
                        {% endfor %}
                    </select>
                    <select name="operator">
                        {% for operator in operators %}
                            <option {% if search_data.operators[i] == operator %} selected {% endif %}>{{ operator }}</option>
                        {% endfor %}
                    </select>
                    <input name="search_param" type="text" size="10" value="{{ search_data.search_params[i] }}" />
                    <button type="submit" onclick="delete_param(p{{loop.index0}}, p_count);">➖</button>
                </div>
            {% endfor %}
    </div>
    <div style="padding: 3px">
        {% if search_data.params_count >= 1%}
        <input type="submit" value="➕" onclick="params_count.value = {{search_data.params_count + 1}}">
        <br>
        {% else %}
            <input type="submit" value="➕" onclick="params_count.value = {{search_data.params_count + 1}}">
        {%endif%}
    </div>
    <a>Показать:</a><br>
    {% for col in search_data.search_col_names %}
        {% if col != 'ID' %}
            <input type="checkbox" name="shw_cls" value="{{col}}"
                {% if col in showed_cols %} checked {% endif %}>
            <a>{{col}}</a><br>
        {% endif %}
    {% endfor%}
    <input id="header_change_btn" type="button"
           onclick="change_header_view('card_header', header_change_btn, header_view_id)"
           value="{% if header_view == 'true'%}Скрыть заголовки{% else %}Показать заголовки{% endif %}">
<table class="main_table">
    <tr class="main_table">
        <th class="main_table"></th>
        {% if viewed_table|length > 0 %}
            {% for key in viewed_table.copy().popitem()[1].keys() %}
                <th class="main_table">
                    {{ key[0] }}
                </th>
            {% endfor %}
        {% endif %}
    </tr>
    {% for key1, dict in viewed_table.items()%}
        <tr class="main_table">
            <th class="main_table" style="width: 70px">
                {{ key1[0] }}
            </th>
            {% for key2, value in dict.items() %}
                <th class="main_th" {% if credentials == 1 %} ondrop="drop(event)" ondragover="allowDrop(event)"
                    cval="{{key1[1]}}" rval="{{key2[1]}}"{%endif%}><br>
                    {% if credentials == 1 %}<button onclick="window.open('/4/add/?col={{sel_x}}&row={{sel_y}}&row_value={{key1[0]}}&col_value={{key2[0]}}'); return false;">
                        Добавить карточку</button><br><br>{% endif %}

                    {% if not value is none %}
                        {% for list in value %}
                            <div class="card_block {% if list[0][0] in conflictingIDs %}conf {% endif %}"
                                 {% if not list == value[0] %} style="visibility: collapse" {% endif %}
                                 {% if credentials == 1 %}draggable="true" ondragstart="drag(event)"
                                 ondblclick="window.open('/4/modify/{{list[0]}}'); return false;" id="{{list[0][0]}}"
                                 cval="{{key1[1]}}" rval="{{key2[1]}}" {%endif%}>
                                <table style="border-collapse: collapse">
                                    {% for i in col_indexes %}
                                        {% if projections[i] in showed_cols %}
                                            <tr style="border: 1px solid lightgray;">
                                                <th style="border: 1px solid lightgray;" class="card_header"
                                                    {% if header_view == 'false' %}hidden{% endif %} cval="{{key1[1]}}" rval="{{key2[1]}}">
                                                    {{ projections[i] }}
                                                </th>
                                                <th style="border: 1px solid lightgray; width: 150px; height: 35px;" cval="{{key1[1]}}" rval="{{key2[1]}}">
                                                    {% if list[i+1][0] == None %} {% else %} {{ list[i+1][0] }} {% endif%}
                                                </th>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    {% if credentials == 1 %}
                                        <tr>
                                            <th {% if header_view == 'false' %}hidden{% endif %} class="card_header">
                                                <a>Действия:</a>
                                            </th>
                                            <th>
                                                <a class="actions" target="_blank" href="/4/modify/{{list[0][0]}}">Редактировать</a><br>
                                                <button type="submit" name="delid" value="{{list[0][0]}}" style="margin-bottom: 3px">Удалить</button>
                                            </th>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        {% endfor %}
                        {% if value|length > 1 %} <input type="button" class="btn_show" style="margin: 10px" value="Развернуть">{% endif %}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</form>
</body>
</html>