<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
         TABLE {
             border-collapse: collapse;
         }
         TD, TH {
             padding: 3px;
             border: 1px solid black;
         }
    </style>
    <script>
        function delete_param(div_id, p_count_id){
            p_count_id.value = p_count_id.value - 1;
            div_id.remove();
        }
    </script>
</head>
<body>
<form>
    <select name="x">
        {% for item in projections %}
            <option  {% if item == sel_x %} selected {% endif %}> {{ item }} </option>
        {% endfor %}
    </select>

    <select name="y">
        {% for item in projections %}
            <option  {% if item == sel_y %} selected {% endif %}> {{ item }} </option>
        {% endfor %}
    </select>
    <input type="submit"><br>
    <div id="params_fields">
        <input type="hidden" id="p_count" name="params_count" value="{{search_data.params_count}}">
        {% for i in range(search_data.params_count)%}
                <div id="p{{loop.index0}}" style="padding: 3px">
                    <select name="search_col">
                        {% for search_col_name in search_data.search_col_names %}
                            <option {% if search_data.selected_col_name_indexes[i] is defined and
                                    search_data.selected_col_name_indexes[i]|int == loop.index %}
                                        selected
                                    {% endif %}
                                    value="{{ loop.index }}"
                            >{{ search_col_name }}</option>
                        {% endfor %}
                    </select>
                    <select name="operator">
                        {% for operator in operators %}
                            <option {% if search_data.operators[i] == operator %} selected {% endif %}>{{ operator }}</option>
                        {% endfor %}
                    </select>
                    <input name="search_param" type="text" size="10" value="{{ search_data.search_params[i] }}" />
                    <button type="submit" onclick="delete_param(p{{loop.index0}}, p_count);">➖</button>
                </div>
            {% endfor %}
    </div>
    <div style="padding: 3px">
        {% if search_data.params_count >= 1%}
        <input type="submit" value="Найти">
        <input type="submit" value="➕" onclick="params_count.value = {{search_data.params_count + 1}}">
        <select name="lo">
            {% for operator in logic_operators %}
                <option {% if logic_operator == operator %} selected {% endif %}>{{ operator }}</option>
            {% endfor %}
        </select>
        <br>
        {% else %}
            <input type="submit" value="➕" onclick="params_count.value = {{search_data.params_count + 1}}">
        {%endif%}
    </div>
    {% for col in search_data.search_col_names %}
        {% if col != sel_x and col != sel_y %}
            <input type="checkbox" name="shw_cls" value="{{col}}"
                {% if col in showed_cols %} checked {% endif %}>
            <a>{{col}}</a><br>
        {% endif %}
    {% endfor%}
</form>
<table>
    <tr>
        <th></th>
        {% if viewed_table|length > 0 %}
        {% for key in viewed_table.copy().popitem()[1].keys() %}
        <th align="center">
            {{ key }}
        </th>
            {% endfor %}
            {% endif %}
            </tr>
                {% for key, dict in viewed_table.items() %}
                <tr>
                    <th align="center">
                        {{ key }}
                    </th>
                    {% for value in dict.values() %}

                    <td align="center">
                        <br>
                        {% if not value is none %}
                        {% for list in value %}
                            <table>
                                {% for i in col_indexes %}
                                    {% if  projections[i] != sel_x and projections[i] != sel_y %}
                                        {% if projections[i] in showed_cols %}
                                            <tr>
                                                <td>
                                                    {{ projections[i] }}
                                                </td>
                                                <td>
                                                    {% if list[i+1] == None %} {% else %} {{ list[i+1] }} {% endif%}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </table>

                            <br>
                        {% endfor %}
                        {% endif %}
                    </td>
               {% endfor %}
               </tr>
            {% endfor %}
         </table>
</body>
</html>