<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
         TABLE {
             border-collapse: collapse;
         }
         TD, TH {
             padding: 3px;
             border: 1px solid black;
         }
    </style>
    <script>
        function delete_param(div_id, p_count_id){
            p_count_id.value = p_count_id.value - 1;
            div_id.remove();
        }

        function a(form, id1, id2, def_1, def_2){
            if ((id1.value != def_1) || (id2.value != def_2)){
                document.getElementById('p_ch_flag').value = 'true';
            }
            form.submit()
        }

        function change_header_view(class_name, btn, header_view){
            var elements = document.getElementsByClassName(class_name);
            if (header_view.value == 'true'){
                for (var i = 0; i < elements.length; i++){
                    elements[i].setAttribute('hidden', 0);
                }
                btn.value = 'Показать заголовки';
                header_view.value = 'false';
            }
            else{
                for (var i = 0; i < elements.length; i++){
                    elements[i].removeAttribute('hidden');
                }
                btn.value = 'Скрыть заголовки';
                header_view.value = 'true'
            }
        }
    </script>
</head>
<body>
<form id="main_form">
    <input type="hidden" name="p_change_flag" id="p_ch_flag" value="{{ p_change_flag }}">
    <input type="hidden" name="header_view" id="header_view_id" value="{{ header_view }}">
    <select name="x" id="sel_x_id">
        {% for item in projections %}
            <option  {% if item == sel_x %} selected {% endif %}> {{ item }} </option>
        {% endfor %}
    </select>

    <select name="y" id="sel_y_id">
        {% for item in projections %}
            <option  {% if item == sel_y %} selected {% endif %}> {{ item }} </option>
        {% endfor %}
    </select>
    <button type="button" onclick="a(main_form, sel_x_id, sel_y_id, '{{sel_x}}', '{{sel_y}}')">Показать</button><br>
    <div id="params_fields">
        <input type="hidden" id="p_count" name="params_count" value="{{search_data.params_count}}">
        {% for i in range(search_data.params_count)%}
                <div id="p{{loop.index0}}" style="padding: 3px">
                    <select name="search_col">
                        {% for search_col_name in search_data.search_col_names %}
                            <option {% if search_data.selected_col_name_indexes[i] is defined and
                                    search_data.selected_col_name_indexes[i]|int == loop.index %}
                                        selected
                                    {% endif %}
                                    value="{{ loop.index }}"
                            >{{ search_col_name }}</option>
                        {% endfor %}
                    </select>
                    <select name="operator">
                        {% for operator in operators %}
                            <option {% if search_data.operators[i] == operator %} selected {% endif %}>{{ operator }}</option>
                        {% endfor %}
                    </select>
                    <input name="search_param" type="text" size="10" value="{{ search_data.search_params[i] }}" />
                    <button type="submit" onclick="delete_param(p{{loop.index0}}, p_count);">➖</button>
                </div>
            {% endfor %}
    </div>
    <div style="padding: 3px">
        {% if search_data.params_count >= 1%}
        <input type="submit" value="Найти">
        <input type="submit" value="➕" onclick="params_count.value = {{search_data.params_count + 1}}">
        <select name="lo">
            {% for operator in logic_operators %}
                <option {% if logic_operator == operator %} selected {% endif %}>{{ operator }}</option>
            {% endfor %}
        </select>
        <br>
        {% else %}
            <input type="submit" value="➕" onclick="params_count.value = {{search_data.params_count + 1}}">
        {%endif%}
    </div>
    <a>Показать:</a><br>
    {% for col in search_data.search_col_names %}
        {% if col != sel_x and col != sel_y %}
            <input type="checkbox" name="shw_cls" value="{{col}}"
                {% if col in showed_cols %} checked {% endif %}>
            <a>{{col}}</a><br>
        {% endif %}
    {% endfor%}
    <input id="header_change_btn" type="button"
           onclick="change_header_view('card_header', header_change_btn, header_view_id)"
           value="{% if header_view == 'true'%}Скрыть заголовки{% else %}Показать заголовки{% endif %}">
</form>
<table style="table-layout: auto; width: 100%">
    <tr>
        <th></th>
        {% if viewed_table|length > 0 %}
            {% for key in viewed_table.copy().popitem()[1].keys() %}
                <th>
                    {{ key }}
                </th>
            {% endfor %}
        {% endif %}
            </tr>
                {% for key, dict in viewed_table.items() %}
                <tr>
                    <th>
                        {{ key }}
                    </th>
                    {% for value in dict.values() %}

                    <td style="vertical-align: top">
                        <br>
                        {% if not value is none %}
                        {% for list in value %}
                            <table style="table-layout: fixed; width: 100%; height: 180px">
                                {% for i in col_indexes %}
                                    {% if  projections[i] != sel_x and projections[i] != sel_y %}
                                        {% if projections[i] in showed_cols %}
                                            <tr>
                                                <td class="card_header" style="width: 110px"
                                                    {% if header_view == 'false' %}hidden{% endif %}>
                                                    {{ projections[i] }}
                                                </td>
                                                <td style="width: 150px">
                                                    {% if list[i+1] == None %} {% else %} {{ list[i+1] }} {% endif%}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </table>

                            <br>
                        {% endfor %}
                        {% endif %}
                    </td>
               {% endfor %}
               </tr>
            {% endfor %}
         </table>
</body>
</html>